/**************** GENERALT ***********************/
@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');


/********* RESPONSIV LAPTOP *******************/

@media (min-width:987px){

    .kortet{
        display: flex;
        justify-content: center;
        justify-content: space-around;
        gap: 30px;
    }

    h6 {
        font-family: 'Montserrat', sans-serif;
        display: flex;
        justify-content: center;
        font-size: 12pt;
    }


}


/**************** BODY *************************/
body {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    background-color: black;
    
}

main {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100px;
}

/************ NAV **************/
#top {
   background-color: rgb(0, 0, 0);
}

@keyframes nav {
    from{
        font-size: 20pt;
        color: white;
        }
    to{
        font-size: 25pt;
        color: #5CB8E4;
    }
}


nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;

    }

nav a {
    color: #ffffff;
    font-size: 20pt;
    text-decoration: none;
    font-family: 'Jockey One', sans-serif;
}

nav a:hover{
    animation-name: nav;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    
}





/******************* MAIN ***********************/

#intro-teskst, h1, h3{
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    max-width: 65%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Jockey One', sans-serif;
}

#info-tekst{
    display: flex;
    justify-content: center;
    text-align: center;    
    color: white;
    padding-top: 50px;
    font-family: 'Jockey One', sans-serif;
}

#åbningstider{
    color: white;
    text-align: center;
    font-family: 'Jockey One', sans-serif;
    
}

/****************** FOOTER *********************/
footer {
    display: flex;
    justify-content: space-around;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #5CB8E4;
    max-width: 100%;
}

.foot {
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}



/************* RESPONSIV (MOBIL )*****************/

/*nav burger*/


#navburger ul li{
    list-style: none;
}

#navburger{
    min-width: 100%;
    background: black;
    height: 90px;
    display: none;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
}




label.logo{
    color: rgb(175, 59, 133);
    font-size: 35px;
    line-height: 80px;
    font-size: bold;
}


#navburger ul{
    float: right;
    margin-right: 20px;
}

#navburger ul li{
   display: inline-block;
   line-height: 50px;
}

#navburger ul li a{
    color: white;
}


.checkbtn{
    font-size: 30px;
    color: white;
    line-height: 90px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}


#check{
    display: none;
}



@media (max-width: 987px){

    .pladsholder{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    footer {
        padding-top: 50px;
    }

    h6 {
        font-family: 'Montserrat', sans-serif;
        display: flex;
        justify-content: center;
        font-size: 8pt;
    }
   

    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }


    nav ul li a{
        font-size: 16px;
    }
   
    

    main{
    padding-top: 60px ;
    }

     #navburger{
      display: flex;
      position: fixed;
      top: 0;
      left: 0;
      
     }

     nav{
        display: none;
     }


    .checkbtn{
       display: block; 
    }


    ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #000000;
    top: 74px;
    left: -130%;
    transition: all .5s;
    flex-direction: column;
    display: flex;
    text-align: left;
    
    }
    
    nav ul li{
    display: block;
    margin: 50px 0px;
    line-height: 30px;
    }

    nav ul li a{
    font-size: 20px ;
    }


    #check:checked ~ ul {
     left: 0;
    }

    /**
    section{
     display: block;
    }

    .kort {
        display: block;
        display: flex;
        align-items: center;
    }***/
}


#burger{
    background-color: black;
    background-size: cover;
    height: calc(100vh - 80px);
    display: none;
}


/***************************************/

/************** MENU ******************/

.kort{
    background-color: black;
    display:flex;
    justify-content: space-around;
    color: white;
    margin-bottom: 20px;
}

.kort > section{
    width: 300px;
    height:300px;
    background-color:black;
    margin-top: 10px;
    padding:10px;
    text-align: center;
}

.kort img:hover {
    transform: scale(1.1);
}

.plasholder{
   
    background-color: rgb(0, 0, 0);
    color: black;
    text-decoration: #fffeef;
    border-radius: 8%;
    max-width: 65%;
    max-height: 100%;
}

.pladsholder div h4{
    text-align: center;
    align-items: center;
    box-sizing: border-box;
}

.overskriftmenu{
    display: flex;
    justify-content: center;
    font-family: 'Jockey One', sans-serif;
    color: #fffeef;
}


.billeder{
    border-radius: 8%;
    width: 300px;
    height: 300px;

}

@media (max-width:987px) {

    main {
        max-width: 75%;
        box-sizing: border-box;
    }

    .kort {
        width: 200px;
        height: 200px;
    }

    .billeder {
        width: 200px;
        height: 200px;
    }

    .kort{
        background-color: black;
        display:flex;
        justify-content: space-around;
        color: white;
        margin-bottom: 20px;
        margin: 0;
        
    }
    
    .kort > section{
        width: 300px;
        height:300px;
        background-color:black;
        margin-top: 10px;
        padding:10px;
        text-align: center;
    }

}
