/**************** GENERALT ***********************/
@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');


/**************** BODY *************************/
body {
    margin-left: auto;
    margin-right: auto;
    /*background-image: url("billeder/bg.png");*/
    background-color: black;
    
}

main {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
}


/************ NAV **************/
#top {
   background-color: rgb(0, 0, 0);
}

@keyframes nav {
    from{
        font-size: 20pt;
        color: white;
        }
    to{
        font-size: 25pt;
        color: #5CB8E4;
    }
}


nav {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    background-color: rgb(0, 0, 0);
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 10px;

    }

nav a {
    color: #ffffff;
    font-size: 20pt;
    text-decoration: none;
    font-family: 'Jockey One', sans-serif;
}

nav a:hover{
    animation-name: nav;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    
}





/******************* MAIN ***********************/

/**
#top-img {
    background-image: url("billeder/thevibe.png");
    max-width: 100%;  
    height: 995px;
}
**/


#intro-teskst, h1, h3{
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    max-width: 65%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Jockey One', sans-serif;
}

#info-tekst{
    display: flex;
    justify-content: center;
    text-align: center;    
    color: white;
    padding-top: 50px;
    font-family: 'Jockey One', sans-serif;
}

#åbningstider{
    color: white;
    text-align: center;
    font-family: 'Jockey One', sans-serif;
    
}

/****************** FOOTER *********************/
footer {
    display: flex;
    justify-content: space-around;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #5CB8E4;
    max-width: 100%;
    padding-top: 10px;
}

.foot {
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-align: center;
}



